{% extends 'base.html.twig' %}

{% block title %}Upcoming Events{% endblock %}

{% block body %}
<h1>Upcoming Events</h1>

<ul>
    {% for event in events %}
        <li>
            <strong>{{ event.name }}</strong>
            ({{ event.date }})
            -
            <a href="{{ path('events_detail', { id: event.id }) }}">
                View Details
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
