<header class="site-header">
    <nav class="nav">
        <a class="nav-link" href="{{ path('app_home') }}">Home</a>
        <a class="nav-link" href="{{ path('app_portal') }}">Portal</a>
        <a class="nav-link" href="{{ path('app_statistics') }}">Statistics</a>
    </nav>
</header>
    