<header class="site-header">
    <nav class="nav">
        <a class="nav-link" href="{{ path('app_home') }}">Home</a>
        <a class="nav-link" href="{{ path('events_overview') }}">Events</a>
        <a class="nav-link" href="{{ path('events_current') }}">Current</a>
    </nav>
</header>
