{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
<h2>Events (from EventService)</h2>

<ul>
  {% for e in events %}
    <li>{{ e.name }} – {{ e.date }} {{ e.time }} – {{ e.location }}</li>
  {% endfor %}
</ul>

{% endblock %}