{% extends 'base.html.twig' %}

{% block body %}

<h1>Portal Statistics</h1>

<ul>
    <li>Total Events: {{ events }}</li>
    <li>Total Appointments: {{ appointments }}</li>
    <li>Total Notifications: {{ notifications }}</li>
</ul>

{% endblock %}